<div class="row">
    @for (product of products; track $index) {
      <div  class="col-md-4">
        <div class="card mb-4">
          <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>{{ product.price | prix }}</strong></p>
            <p [ngClass]="{
              'available': product.disponible,
              'not-available': !product.disponible
            }">{{ product.disponible ? 'Available' : 'Not Available' }}
            </p>
            <a [routerLink]="['/product', product.id]" class="btn btn-primary">Voir Détails</a>
          </div>
        </div>
      </div>
    }
  </div>
