<div class="admin-dashboard">
  <h1>Admin Dashboard</h1>
  <div class="product-list">
    <h2>Delete Product</h2>
    <h4>Product List</h4>
    <input type="text" placeholder="Search by name or description..." [formControl]="searchControl" />

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Availability</th>
          <th>Actions</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        @for (product of filteredProducts; track $index) {
          <tr>
            <td>{{ product.id }}</td>
            <td><img [src]="product.imageUrl" class="small-image"></td>

            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency }}</td>
            <td [ngClass]="{
              'available': product.disponible,
              'not-available': !product.disponible
            }">
          {{ product.disponible ? 'Available' : 'Not Available' }}
        </td>
            <td>
              <button (click)="deleteProduct(product.id)">Delete</button>
            </td>
            <td>
              <ul>
                @for (comment of product.comments; track $index) {
                  <li>
                    <span>{{ comment.author }}: {{ comment.message }} ({{ comment.date | date:'short' }})</span>
                    <button (click)="deleteComment(product.id, comment)">Delete Comment</button>
                  </li>
                }
              </ul>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
